.Poster {
  height: calc(100vh - 220px);
  min-height: 560px;
  width: 100%;
  position: relative;

  &__Content {
    padding-top: 200px;
    height: 100%;
  }
  &__video {
    position: absolute;
    object-fit: cover;
    inset: 0 0 0 auto;
    height: 100%;
    width: 70%;
    z-index: 9;

    &-hide {
      visibility: 0;
      user-select: none;
      opacity: 0;
      z-index: -1;
    }
  }
}
