.PosterInfo {
  color: #fff;
  margin-left: 157px;
  width: calc(50% - 40px);
  padding-left: 1rem;
  position: relative;
  z-index: 111;
  &__Text {
    font-size: 20px;
    line-height: 1.8;
  }
  &__Time {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 5px;
  }
  &__Title {
    font-family: 'Anton', sans-serif;
    font-size: 7em;
    line-height: 1;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 10px;
  }
  &__Buttons {
    display: flex;
    gap: 18px;
    padding: 20px 0;
    margin-top: 14px;
    button {
      font-weight: 600;
      border: 0;
      border-radius: 30px;
      font-size: 24px;
      padding: 1rem 2rem;
      cursor: pointer;
      width: 240px;
      transition: 0.1s;
    }
    &-Play {
      background-color: #f1f1f1;
      color: #0c0c0c;
      &:active {
        background-color: #00b894;
        scale: 0.98;
      }
    }
    &-Info {
      color: #f1f1f1;
      background-color: #2727f5;
      background: transparent linear-gradient(128deg, #2727f5 0%, #001671 100%)
        0% 0% no-repeat padding-box;
      border-radius: 40px;
      &:active {
        background-color: #465da3;
        scale: 0.98;
      }
    }
  }
}
