* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1900px;
  background-color: #000;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

img {
  display: block;
  max-width: 100%;
}
